[submodule "code/dependencies/ak_lib"]
	path = code/dependencies/ak_lib
	url = https://github.com/JJ-Karambasis/ak_lib.git
[submodule "code/dependencies/stb"]
	path = code/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "code/dependencies/Vulkan-Headers"]
	path = code/dependencies/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "code/dependencies/freetype"]
	path = code/dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "code/dependencies/SheenBidi"]
	path = code/dependencies/SheenBidi
	url = https://github.com/JJ-Karambasis/SheenBidi.git
[submodule "code/dependencies/harfbuzz"]
	path = code/dependencies/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
