[submodule "Source/ThirdParty/stb"]
	path = Source/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/ThirdParty/freetype"]
	path = Source/ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Source/ThirdParty/OpenGL-Registry"]
	path = Source/ThirdParty/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "Source/ThirdParty/EGL-Registry"]
	path = Source/ThirdParty/EGL-Registry
	url = https://github.com/KhronosGroup/EGL-Registry.git
[submodule "Source/ThirdParty/harfbuzz"]
	path = Source/ThirdParty/harfbuzz
	url = https://github.com/JJ-Karambasis/harfbuzz.git
